extends layout

block content
  h1 GameRoom

  #container
    - if (gameId)
      script(type='text/javascript' src='/public/javascripts/polyfill.min.js')
      script(type='text/javascript' src='/public/javascripts/bundle.76c53.js')
    - else if (name)
      #lobby
        p Welcome #{name}
        div#stats
          div
            span Wins: 
            span= wins
          div
            span Losses: 
            span= losses
          div
            span Streak: 
            span= streak
        div
          input(type='button' id='playbutton' value='Play')
          input(type='button' id='leavebutton' value='Leave')
    - else
      input(type='text' id='playername' placeholder='Enter you name')
      input(type='button' id='registerbutton' value='Register')  
    
