doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(type='module', src='/public/javascripts/script.js')
    script(src='/socket.io/socket.io.js')
  body
    block content
