html,
body {
  font: 14px/1.21 "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 10px auto;
  font-size: 32px;
}

input {
  margin: 5px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 5px;
}

input[type="button"] {
  background-color: rgba(25, 180, 219, 0.9);
  border: 1px solid rgba(25, 180, 219, 1);
  color: white;
  width: 120px;
  height: 30px;
  padding: 0;
}

#container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stats {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#stats > div {
  margin: 10px;
}

input.secondary-button {
  background-color: white;
  color: rgb(44, 44, 44);
}

input.serious-button {
  background-color: red;
  color: white;
  border-color: red;
}

.gamecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding-bottom: 40px;
  box-sizing: border-box;
  height: calc(100% - 60px);
}

.overlay {
  position: absolute;
  background-color: rgba(25, 180, 219, 0.9);
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamecontainer .tileColumn {
  display: flex;
  flex-direction: column;
  padding: 4px;
  height: 450px;
  justify-content: center;
  border: 2px solid white;
  position: relative;
}

.gamecontainer .tileColumn.selected {
  border: 2px solid green;
}

.gamecontainer .tileColumn span {
  background-color: rgb(105, 223, 193);
  height: 50px;
  width: 50px;
  opacity: 1;
  display: inline-block;
  margin: 5px;
}

.gamecontainer .tileColumn span.selected {
  background-color: rgba(255, 0, 0, 0.3);
}

.gamecontainer .buttons {
  position: absolute;
  bottom: 60px;
  width: 300px;
  text-align: center;
}

.forfeit-container {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -50px;
}

@media screen and (max-width: 980px) {
  body {
    font-size: 60px;
  }

  h1 {
    font-size: 90px;
    margin: 20px;
  }

  input {
    font-size: 54px;
  }

  input[type="button"] {
    width: 250px;
    height: 80px;
    margin: 20px;
  }

  .gamecontainer .tileColumn {
    height: 1200px;
  }

  .gamecontainer .tileColumn span {
    height: 120px;
    width: 120px;
    margin: 10px;
  }

  .gamecontainer .buttons {
    bottom: 280px;
    width: 800px;
  }

  .forfeit-container {
    bottom: -150px;
  }
}
